check-thread-count = 4
export-fix-sql = true
check-data-only = false
check-struct-only = false
skip-non-existing-table = false

[data-sources]
[data-sources.mysql0]
    host = "10.0.1.5"
    port = 3306
    user = "dmuser"
    password = "1234Abcd"

    route-rules = ["rule01", "rule02", "rule03", "rule04", "rule05", "rule06", "rule07", "rule08", "rule09", "rule10", "rule11", "rule12", "rule13", "rule14", "rule15", "rule16", "rule17", "rule18", "rule19", "rule20", "rule21", "rule22", "rule23", "rule24", "rule25", "rule26", "rule27", "rule28", "rule29" , "rule30", "rule31", "rule32", "rule33", "rule34", "rule35", "rule36", "rule37", "rule38", "rule39", "rule40", "rule41", "rule42", "rule43", "rule44", "rule45", "rule46", "rule47"]

[data-sources.mysql1]
    host = "10.0.1.6"
    port = 3306
    user = "dmuser"
    password = "1234Abcd"

    route-rules = ["rule01", "rule02", "rule03"]

[data-sources.tidb0]
    host = "10.0.0.10"
    port = 4000
    user = "root"
    password = "0jpW_@Y453mN*h1+t9" 

[task]
    output-dir = "./output"
    source-instances = ["mysql0", "mysql1"]
    target-instance = "tidb0"
    target-check-tables = ["*.*"]

[routes]
[routes.rule01]
schema-pattern = "^messagedb_(0[0-9]|1[0-5])$"
table-pattern = "user_message_00(0[0-9]|1[0-9]|2[0-9]|30|31)"
target-schema = "messagedb"
target-table = "user_message"
[routes.rule02]
schema-pattern = "^messagedb_(0[0-9]|1[0-5])$"
table-pattern = "user_message_0099"
target-schema = "messagedb"
target-table = "user_message_0099"
[routes.rule03]
schema-pattern = "^messagedb_(0[0-9]|1[0-5])$"
table-pattern = "^user_message_archive_00(3[0-1]|[0-2][0-9])$"
target-schema = "messagedb"
target-table = "user_message_archive"
[routes.rule04]
schema-pattern = "messagedb_00"
table-pattern = "^email_send_record_2023\\d{2}|email_send_record_2024\\d{2}|email_send_record_2025\\d{2}$"
target-schema = "messagedb"
target-table = "email_send_record"
[routes.rule05]
schema-pattern = "messagedb_00"
table-pattern = "^web_send_record_(3[01]|[0-2]?[0-9])$"
target-schema = "messagedb"
target-table = "web_send_record"
[routes.rule06]
schema-pattern = "messagedb_00"
table-pattern = "account"
target-schema = "messagedb"
target-table = "account"
[routes.rule07]
schema-pattern = "messagedb_00"
table-pattern = "backend_user_message"
target-schema = "messagedb"
target-table = "backend_user_message"
[routes.rule08]
schema-pattern = "messagedb_00"
table-pattern = "backend_user_message_expire"
target-schema = "messagedb"
target-table = "backend_user_message_expire"
[routes.rule09]
schema-pattern = "messagedb_00"
table-pattern = "bulletin_board_event_task"
target-schema = "messagedb"
target-table = "bulletin_board_event_task"
[routes.rule10]
schema-pattern = "messagedb_00"
table-pattern = "business"
target-schema = "messagedb"
target-table = "business"
[routes.rule11]
schema-pattern = "messagedb_00"
table-pattern = "business_store"
target-schema = "messagedb"
target-table = "business_store"
[routes.rule12]
schema-pattern = "messagedb_00"
table-pattern = "business_template"
target-schema = "messagedb"
target-table = "business_template"
[routes.rule13]
schema-pattern = "messagedb_00"
table-pattern = "data_migrate_record"
target-schema = "messagedb"
target-table = "data_migrate_record"
[routes.rule14]
schema-pattern = "messagedb_00"
table-pattern = "delay_message"
target-schema = "messagedb"
target-table = "delay_message"
[routes.rule15]
schema-pattern = "messagedb_00"
table-pattern = "email_template"
target-schema = "messagedb"
target-table = "email_template"
[routes.rule16]
schema-pattern = "messagedb_00"
table-pattern = "event"
target-schema = "messagedb"
target-table = "event"
[routes.rule17]
schema-pattern = "messagedb_00"
table-pattern = "event_variable_relation"
target-schema = "messagedb"
target-table = "event_variable_relation"
[routes.rule18]
schema-pattern = "messagedb_00"
table-pattern = "group"
target-schema = "messagedb"
target-table = "group"
[routes.rule19]
schema-pattern = "messagedb_00"
table-pattern = "leaf_alloc"
target-schema = "messagedb"
target-table = "leaf_alloc"
[routes.rule20]
schema-pattern = "messagedb_00"
table-pattern = "message_retry"
target-schema = "messagedb"
target-table = "message_retry"
[routes.rule21]
table-pattern = "operation_log"
schema-pattern = "messagedb_00"
target-schema = "messagedb"
target-table = "operation_log"
[routes.rule22]
schema-pattern = "messagedb_00"
table-pattern = "personalization_message_record"
target-schema = "messagedb"
target-table = "personalization_message_record"
[routes.rule23]
schema-pattern = "messagedb_00"
table-pattern = "personalization_message_record_history"
target-schema = "messagedb"
target-table = "personalization_message_record_history"
[routes.rule24]
schema-pattern = "messagedb_00"
table-pattern = "push"
target-schema = "messagedb"
target-table = "push"
[routes.rule25]
schema-pattern = "messagedb_00"
table-pattern = "push_excel"
target-schema = "messagedb"
target-table = "push_excel"
[routes.rule26]
schema-pattern = "messagedb_00"
table-pattern = "push_group"
target-schema = "messagedb"
target-table = "push_group"
[routes.rule27]
schema-pattern = "messagedb_00"
table-pattern = "push_report"
target-schema = "messagedb"
target-table = "push_report"
[routes.rule28]
schema-pattern = "messagedb_00"
table-pattern = "push_staff"
target-schema = "messagedb"
target-table = "push_staff"
[routes.rule29]
schema-pattern = "messagedb_00"
table-pattern = "push_store"
target-schema = "messagedb"
target-table = "push_store"
[routes.rule30]
schema-pattern = "messagedb_00"
table-pattern = "push_tag"
target-schema = "messagedb"
target-table = "push_tag"
[routes.rule31]
schema-pattern = "messagedb_00"
table-pattern = "push_task_record"
target-schema = "messagedb"
target-table = "push_task_record"
[routes.rule32]
schema-pattern = "messagedb_00"
table-pattern = "push_template"
target-schema = "messagedb"
target-table = "push_template"
[routes.rule33]
schema-pattern = "messagedb_00"
table-pattern = "push_test_user"
target-schema = "messagedb"
target-table = "push_test_user"
[routes.rule34]
schema-pattern = "messagedb_00"
table-pattern = "silence_time"
target-schema = "messagedb"
target-table = "silence_time"
[routes.rule35]
schema-pattern = "messagedb_00"
table-pattern = "sms_billing"
target-schema = "messagedb"
target-table = "sms_billing"
[routes.rule36]
schema-pattern = "messagedb_00"
table-pattern = "sms_blacklist"
target-schema = "messagedb"
target-table = "sms_blacklist"
[routes.rule37]
schema-pattern = "messagedb_00"
table-pattern = "sms_send_record"
target-schema = "messagedb"
target-table = "sms_send_record"
[routes.rule38]
schema-pattern = "messagedb_00"
table-pattern = "sms_template"
target-schema = "messagedb"
target-table = "sms_template"
[routes.rule39]
schema-pattern = "messagedb_00"
table-pattern = "template_type"
target-schema = "messagedb"
target-table = "template_type"
[routes.rule40]
schema-pattern = "messagedb_00"
table-pattern = "template_variable"
target-schema = "messagedb"
target-table = "template_variable"
[routes.rule41]
schema-pattern = "messagedb_00"
table-pattern = "user_message_0000_check"
target-schema = "messagedb"
target-table = "user_message_0000_check"
[routes.rule42]
schema-pattern = "messagedb_00"
table-pattern = "user_tag"
target-schema = "messagedb"
target-table = "user_tag"
[routes.rule43]
schema-pattern = "messagedb_00"
table-pattern = "variable"
target-schema = "messagedb"
target-table = "variable"
[routes.rule44]
schema-pattern = "messagedb_00"
table-pattern = "web_template"
target-schema = "messagedb"
target-table = "web_template"
[routes.rule45]
schema-pattern = "messagedb_00"
table-pattern = "wechat_app_info"
target-schema = "messagedb"
target-table = "wechat_app_info"
[routes.rule46]
schema-pattern = "messagedb_00"
table-pattern = "wx_template"
target-schema = "messagedb"
target-table = "wx_template"
[routes.rule47]
schema-pattern = "messagedb_00"
table-pattern = "wx_template_store"
target-schema = "messagedb"
target-table = "wx_template_store"

